*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 700;
    background-image: url("images/top-img-iphone.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

/**************************Header**************************/
header{
    width: 100%;
    height: 100%;  
    position: absolute;
    position: fixed;
}
#header{
    width: 100%;
    height: 60px;  
    background-color:white;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.19);
    position: absolute;
    position: fixed;
}
.logo img{
    float: left;
    position: absolute;
    margin-left: 28.5px;
}
#logo{
    width: 40px;
    height: auto;
    margin-top: 10.5px;
    margin-left: 28.5px;
}
.menu{
   /* margin-left: 255px;*/
   
}
.menu li{
    display: inline-block;
    padding: 21px 10px 20px;
    float: right;
   
}
.menu li a{
    color: #0F0F58;
    text-decoration: none;
    /*float: initial;*/
    font-size: 13px;
}
#factory{
    margin-right: 60px;
}
#button-mitsumori-1{
    width: 60px;
    height: 133px;
    position: absolute;
    background-color: #0F0F58;
    color: white; 
    border: none;
    font-size: 12px;
    border-radius: 2px;
    float: right;
    bottom: 0px;
    right: 0px;
}
/*************************************************************/

/******************************Home***************************/

/*
.home img{
    width: 950px;
    height: auto;
    float: right;
    position: absolute;
    margin-top: 0px;
    margin-left: 415px;

}

*/

.title {
    color: white;
}
/* #about-mitsuri{
    font-size: 20px;
    margin-top: 105px;
    line-height: 100px;
    
    left: 50%;
    text-align: center;
}
#title-line2{
    width: 394px;
    font-size: 13px;
    text-align: center;
    margin-left: 60px;
    line-height: 100px;
}
#title-line3{
    width: 505px;
    font-size: 11px;
    line-height: 40px;
    /*margin-top: 100px;
    
    text-align: center;
} */
h1{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 105px;
    left: 40%;
}
h2{
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 37%;
}
h3{
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 180px;
    left: 30%;
}
h4{
    color: black;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    
}
/*************************************************************/

/*****************************Order-Mitsumori*****************/

#order-rec{
    width: 320px;
    height: 555px;
    background-color: white;

    position: absolute;
    margin-top: 906px;
    margin-left: 28px;
    background:  rgba(255, 255, 255, 0.800);
}
.order img{
    width: 325px;
    height: auto;
    position: absolute;
    margin-left: -48px;
    margin-top: 1250px;
}
#border-rec{
    border: 2px solid;
    width: 266.5px;
    height: 505px;
    border-block-color: #000066;
    
    position: absolute;
    left: 10%;
    margin-left: 55px;
    margin-top: 936px; 
    
}
#main-text-line{
    font-size: 20px;
    color: #000066;
    text-align: center;
    margin-top: 50px 10px;
    padding: 30px;
}
#sub-text-line{
    font-size: 13px;
    line-height: 25px;
    padding: 0px 30px;
    margin-top: 0px;
}
/*************************************************************/

/*****************************Footer**************************/
footer{
    background-color: #0F0F58;
    width: 100%;
    height: 380px;
    margin-top: 1572px;
    float: left;
}
.submenu-1{
    text-align: center;
    position: absolute;
    margin-left: 410px;
    margin-top: 122px;
    width: 140px;
}
.submenu-1 li{
    list-style: none;
}
.submenu-1 li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    line-height: 30px;
}
.submenu-2{
    text-align: center;
    position: absolute;
    margin-left: 632px;
    margin-top: 122px;
    width: 102px;
}
.submenu-2 li{
    list-style: none;
}
.submenu-2 li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    line-height: 30px;
}
.submenu-3{
    text-align: center;
    position: absolute;
    margin-left: 794px;
    margin-top: 122px;
    width: 167px;
}
.submenu-3 li{
    list-style: none;
}
.submenu-3 li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    line-height: 30px;
}

.images img {   
    width:40px;
    padding: 5px;
}
#twitter{
    margin-top: 256px;
    margin-left: 538px;
}
#copyright{
    color: white; 
    width: 443px;
    text-decoration: none;
    text-align: center;
    margin-top: 1800px;
    position: absolute;
    left: 10%;
    font-size: 8px;
}
/********************************************************************/

/*<div class="title">
                        <h1 id="About-mitsuri">Mitsuriとは?</h1>
                        <h2 id="title-line2">板金屋さんをもっと身近に</h2>
                        <h3 id="title-line3">WebメディアMitsuriは、板金加工メーカーの
                                <br>見える化を実現します。</h3>
                                
                </div>*/
/****************************Web-var*********************************/
@media only screen and (min-width:1000px) {
    
}